
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.section{
    background-image: url("https://images.unsplash.com/photo-1576402187878-974f70c890a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1633&q=80");
    display: flex;
    justify-content: center;
    text-align: center;
    background-position: center; 
    align-items: last baseline;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 450px;
    filter: brightness(90%);
}
.About1{
    border-radius: 20px;
}
.about-Heading{
color: #51170f;
}
.about-content{
    padding: 40px;
}
.aboutbtn:hover{
    background-color: #51170f;
    color: #ffffff;
}
.about-para{
    font-size: 19px;
}
.thumb img{
      width: 330px;
      height: 300px;
      margin-bottom: 20px;
}
.service{
    text-align: center;
    padding-top: 40px;
}
.single-service h4{
    color: #51170f;
    font-weight: 600;
}
.Testimonial img{
    filter: brightness(80%);

}
.carousel-caption img{
    filter: brightness(100%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.testi-heading{
    color: #51170f;
}
.testi-para{
    color: #44403f;
    font-size: 19px;
}
.carousel-item .test1{
    padding-bottom: 100px;
}
.Star{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.starIcon{
    
    color: rgb(255, 208, 0);
    font-size: 27px;
   
 }
/* @media only screen and (min-width:768px) and (max-width:991px){
    .about-content2
        padding: 10px;
    }
} */
@media only screen and (min-width:300px) and (max-width:991px){
    .about-content{
        padding: 0px;
    }
    .aboutback{
       padding-top: 300px;
    }
    .about-Heading{
        padding-top: 15px;
        font-size: 30px;
        }
        .about-H{
            font-size: 35px;
        }
        .About1{
            border-radius: 5px;
        }
        .service{
            text-align: center;

        }
        .thumb img{
            width: 250px;
            height: 200px;
            margin-bottom: 20px;
      }
      .carousel-item .test1{
        padding-bottom: 50px;
    }
    .testi-para{
        font-size: 16px;
    }
       
}